<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/login-register.css">
</head>
<body>
    <h1 class="heading">Login Trainer</h1>
    <form action="/login-trainer" method="POST">
        <div class="form">
            <div class="username-box">
                <input class="username" type="text" id="userName" name="userName" placeholder="Username">
            </div>
            <div class="password-box">
                <input class="password" type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="submit-box">
                <button class="submit" type="submit" id="Register">Login</button>
            </div>
        </div>
    </form>
</body>
</html>