<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register User</h1>
    <form action="/register-user" method="POST" enctype="multipart/form-data">
        <div>
            <div>
                <input type="text" id="userName" name="userName" placeholder="Username">
            </div>
            <div>
                <input type="text" id="fullName" name="fullName" placeholder="Full Name">
            </div>
            <div>
                <label class="label font2" for="profileImage">Profile</label>
                <input type="file" name="profileImage" id="profileImage">
            </div>
            <div>
                <label class="label font2" for="dob">Date of Birth</label>
                <input type="date" id="dob" placeholder="Date of Birth" name="dob">
            </div>
            <div>
                <input type="radio" name="gender" value="male" id="male" required>
                <label class="label font2" for="male">Male</label>
                <input type="radio" name="gender" value="female" id="female" required>
                <label class="label font2" for="female">Female</label>
                <input type="radio" name="gender" value="other" id="other" required>
                <label class="label font2" for="other">Other</label>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div>
                <button class="submit" type="submit" id="Register">Register</button>
            </div>
        </div>
    </form>
</body>
</html>